/**
  * _navigation.scss
  * Styles for the main navigation bar on top of the page.
  */

.nav-main {
  display: flex; /* Make the navigation container a flex container */
  justify-content: space-between; /* Distribute items evenly */
  align-items: center; /* Vertically center items */
  font-size: $font-size; // override mobile media query
  margin-bottom: 4rem;

  @media (max-width: 38em) {
    margin-bottom: 2rem;
  }

  .nav-main ul {
    display: flex; /* Make the unordered list a flex container */
    list-style: none; /* Remove default list styling */
  }
  
  .nav-main li {
    flex: 1; /* Make each list item expand to fill available space */
    text-align: center; /* Center text within each item */
  }
}
